{% extends 'base.html' %}
{% block content %}
<div class="wrapper p-5">
    <div class="content mt-5 vh-75 d-flex justify-content-center align-items-center m-4 p-4 content">
        <div class="d-flex border rounded border-dark flex-column p-4 h-75 d-flex justify-content-center align-items-center shadow" style="width:500px;">
            <h2>Change Password</h2>
            <div class="form-group m-3">
                <form method="post">
                    <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Change</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary ms-5">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
