{% extends 'base.html' %}

{% block content %}
<div class="wrapper p-5">
    <div class="container mt-5 content">
        <div class="">
            <h4 class="mb-2">Password Changed!</h4>
            <p>Your password has been successfully updated. You can now use your new password to log in.</p>
            <hr>
            <p class="mb-3">Click below to return to the homepage or go to the login page.</p>
        </div>
        <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>
</div>
{% endblock %}
