{% extends "base.html" %}

{% block title %}Author: {{ author.username }}{% endblock %}

{% block content %}
<div class="wrapper p-5">
    <div class="container mt-5 content">
        <div class="row text-center">
            <div class="col-3">
                {% if author.profile.profile_picture%}
                <img src="{{ author.profile.profile_picture.url}}" alt="Profile Picture" class="profile-picture mb-3 rounded-circle w-25 object-fit-cover" width="80px" height="80px">
                {% else %}
                {% load static%}
                <img src="{% static 'main/images/profile-user.png'%}" height="75px" width="75px">
                {% endif %}
                <h4 class="mt-2">{{ author.username }}</h4>
                {% if author.profile.bio %}
                <p>{{ author.profile.bio }}</p>
                {% endif %}
                <p class="fw-light">Joined: {{ author.date_joined|date:"F j, Y" }}</p>
            </div>
            <div class="col-6">
                <div class="stats d-flex justify-content-evenly align-items-center my-4 ">
                    <div class="stat-item me-4">
                        <h6>Followers</h6>
                        <p>{{ author.followers.count }}</p></a>
                    </div>
                    <div class="stat-item me-4">
                        <h6>Following</h6>
                        <p>{{ author.following.count }}</p></a>
                    </div>
                    <div class="stat-item me-4">
                        <h6>Posts</h6>
                        <p>{{ author.posts.count }}</p>
                    </div>
                </div> 

                
            </div>
            
        </div>
        <div class="ms-5">
            {% if author != request.user %}
                {% if is_following %}
                    <a href="{% url 'unfollow_user' author.id %}" class="btn btn-danger">Unfollow</a>
                {% else %}
                    <a href="{% url 'follow_user' author.id %}" class="btn btn-primary">Follow</a>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated and user != author %}
            <a href="{% url 'send_message' receiver_id=author.id %}" class="btn btn-primary">Send Message</a>
            {% endif %}
        </div>
        <hr>

        <div class="social-links">
            {% if user.profile.instagram %}
                <a href="{{ author.profile.instagram }}" class="instagram" target="_blank">Instagram</a>
            {% endif %}
            {% if user.profile.youtube %}
                <a href="{{ author.profile.youtube }}" class="youtube" target="_blank">YouTube</a>
            {% endif %}
            {% if user.profile.facebook %}
                <a href="{{ author.profile.facebook }}" class="facebook" target="_blank">Facebook</a>
            {% endif %}
            {% if user.profile.x %}
                <a href="{{ author.profile.x }}" class="x" target="_blank">X</a>
            {% endif %}
        </div>
    
        <div class="p-3 rounded shadow">
            <h3 class="display-6 mb-4">Posts</h3>
            {% if posts %}
                <ul class="list-group">
                    {% for post in posts %}
                    <div class="mb-4 border border-dark shadow rounded p-3">
                        <a href="{% url 'post_detail' post.id %}" class="link-underline link-offset-1 link-underline-opacity-0 text-dark">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="mb-2 w-100">
                        {% endif %}
                        <div class="p-3">
                            <div class="mb-0">
                            <h5 style="display:inline-block" class="me-1 mb-0">{{ post.title }}</h5><span class="fw-light">&#x2022  {{post.created_at}}</span></div>
                            <p class="mt-0">{{ post.content|truncatechars:250 | safe }}</p>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No posts created yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
