{% extends "base.html" %}

{% block title %}Posts in {{ category.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Posts in Category: {{ category.name }}</h1>
    
    <div class="mb-4">
        <h5>Browse Categories:</h5>
        <ul class="list-inline">
            {% for cat in categories %}
            <li class="list-inline-item">
                <a href="{% url 'filter_posts_by_category' cat.id %}" 
                   class="btn btn-secondary {% if cat == category %}active{% endif %}">
                    {{ cat.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    {% if posts %}
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
            <div class="card mb-4">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No posts available in this category.</p>
    {% endif %}
</div>
{% endblock %}
