{% extends "base.html" %}

{% block title %}Posts in {{ category.name }}{% endblock %}

{% block content %}
<div class="wrapper p-5">
    <div class="container mt-5 content">
        <div class="container">
            <h1 class="display-6">Posts in Category: {{ category.name }}</h1>
            
            <a href="{% url 'posts_by_category' %}">Browse posts by Category</a>
            {% if posts %}
            <div class="p-3 mt-4 rounded shadow">
                <ul class="list-group">
                    {% for post in posts %}
                    <div class="mb-4 border border-dark shadow rounded p-2">
                        <a href="{% url 'post_detail' post.id %}" class="link-underline link-offset-1 link-underline-opacity-0 text-dark">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="mb-2 w-100">
                        {% endif %}
                        <div class="p-3">
                            <div class="mb-0">
                            <h5 style="display:inline-block" class="me-1 mb-0">{{ post.title }}</h5><span class="fw-light">&#x2022  {{post.created_at}}</span></div>
                            <p class="mt-0">{{ post.content|truncatechars:250 | safe }}</p>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <p>No posts available in this category.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
